<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Menampilkan nilai berdasarkan key di maps yang telah di deklarasikan -->
    <title>plants page</title>
</head>
<body>
    <h1>Plants Page</h1>
    <div>
        <h2>Plant list</h2>
        <!-- Menampilkan beberapa struct dengan perulangan -->
        {{ range. }}
        <ul>
            <li>Name: {{ .Name }} </li>
        </ul>
        {{ end }}
    </div>
</body>
</html>